<div class="favorites-list-wrapper">
  <ul class="favorites-list js-list">
    <li class="favorites-list-item">
      <div class="favorites-list-item-nav"></div>
      <h3 class="favorites-list-item-title"></h3>
      <div class="favorites-list-item-"></div>
    </li>
  </ul>
  <p class="favorites-list-notification">
    It appears that you haven't added any exercises to your favorites yet. To
    get started, you can add exercises that you like to your favorites for
    easier access in the future.
  </p>
</div>
