<section class="section-container">
  <div class="container categories-container">
    <div class="exercises-header">
      <h2 class="exercises-title" id="exercises-title">
        Exercises<span class="exercises-title-span"></span>
      </h2>
      <div class="exercises-filter">
        <div class="exercises-search-wrapper" id="search-wrapper">
          <input
            class="exercises-search"
            id="exercises-search"
            type="search"
            name="search-input"
            placeholder="Search"
          />
          <button
            class="exercises-search-button"
            type="button"
            name="btn-search"
          >
            <svg
              class="exercises-search-img"
              id="search-img"
              width="18"
              height="18"
              aria-label=" search icon"
            >
              <use href="./images/sprite.svg#search"></use>
            </svg>
          </button>
        </div>
        <ul class="filters-list" id="filters"></ul>
      </div>
    </div>

    <div class="categories-wrapper" id="categories-wrapper">
      <!-- Quote Content -->
      <div class="quote-container">
        <div class="quote-wrap">
          <div class="quote-wrapper">
            <div class="quote-svg-wrap">
              <svg
                class="quote-svg"
                width="34"
                height="32"
                aria-label="icon run man"
              >
                <use href="./images/sprite.svg#run"></use>
              </svg>
            </div>
            <div class="quote-title-wrap">
              <div class="quote-title">
                <h3>Quote of the day</h3>
                <svg
                  class="quote-title-svg"
                  width="25"
                  height="25"
                  aria-label="icon commas"
                >
                  <use href="./images/sprite.svg#commas"></use>
                </svg>
              </div>
            </div>
          </div>

          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/exercise-mobile.webp    1x,
                ./images/exercise-mobile@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1439px)"
              srcset="
                ./images/exercise-tablet.webp    1x,
                ./images/exercise-tablet@2x.webp 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/exercise-desktop.webp    1x,
                ./images/exercise-desktop@2x.webp 2x
              "
            />
            <img
              class="quote-img"
              src="./images/exercise-mobile.webp"
              alt="Exersices"
            />
          </picture>
        </div>
        <div class="quote-wrapper article">
          <div class="quote-svg-wrap article">
            <svg
              class="quote-svg"
              width="34"
              height="32"
              aria-label="fluent food"
            >
              <use href="./images/sprite.svg#fluent-food"></use>
            </svg>
          </div>
          <div>
            <div class="quote-title article">
              <h3>110 min</h3>
            </div>
            <p class="quote-text article">Daily norm of sports</p>
            <p class="quote-author article">
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </div>
      </div>

      <!-- Categities Content -->
      <div class="categories-pagination">
        <ul class="categories-list" id="categories"></ul>
        <!-- Pagination.html -->
        <div
          class="tui-pagination pagination"
          id="tui-pagination-container"
        ></div>
      </div>
    </div>
  </div>
</section>
