<section class="favorites-section">
  <div class="container">
    <h2 class="favorites-title">Favorites</h2>

    <div class="favorites-container">
      <div class="favorites-quote-column"></div>

      <div class="favorites-list-wrapper">
        <!-- <p class="favorites-list-notification">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p> -->

        <ul class="favorites-exercise-list js-list">
          <li class="exercise-item">
            <div class="exercise-item-wrapper">
              <div class="exercise-item-firth-wrapper">
                <p class="exercise-item-workout">WORKOUT</p>
                
                <button type="button" class="exercise-item-button-delete" id=${_id}>
                  <svg class="exercise-item-trash-icon" width="16" height="16">
                    <use href="${svgSprite}#trash"></use>
                  </svg>
                </button>

                <button type="button" class="exercise-item-button" id=${_id}>
                  Start&nbsp;&nbsp;
                  <svg class="exercise-item-arrow" width="16" height="16">
                    <use href="${svgSprite}#arrow-right"></use>
                  </svg>
                </button>
              </div>
              <div class="exercise-item-second-wrapper">
                <div class="exercise-item-run-box">
                  <svg class="exercise-item-run" width="16" height="16">
                    <use href="${svgSprite}#run"></use>
                  </svg>
                </div>
                <h3 class="exercise-item-subtitle">${name}</h3>
              </div>
              <ul class="exercise-item-list">
                <li class="exercise-item-list-information">
                  <p class="information-text">
                    Burned calories:<span class="information-text-span"
                      >${burnedCalories} / ${time} min</span
                    >
                  </p>
                </li>
                <li class="exercise-item-list-information">
                  <p class="information-text">
                    Body part:<span class="information-text-span">${bodyPart}</span>
                  </p>
                </li>
                <li class="exercise-item-list-information">
                  <p class="information-text">
                    Target:<span class="information-text-span">${target}</span>
                  </p>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
