<section class='footer'>
  <div class='container footer-container'>
    <div class='footer-wrapper'>
      <div class='footer-form-wrapper'>

        <div class='footer-svg-container flex-column'>
          <div style='color: #cacaca'>
            <a href='./index.html' class='footer-logo-link'>
              <svg class='footer-logo-link-img' width='132' height='24'>
                <use href='./images/sprite.svg#logo'></use>
              </svg>
            </a>

            <ul class='footer-social-networks'>
              <li class='footer-social-item'>
                <a href='https://www.facebook.com/goITclub/' class='footer-link-network' target='_blank'
                   aria-label='Facebook' rel='noopener noreferrer'>
                  <svg class='footer-svg' width='24' height='24'>
                    <use href='./images/sprite.svg#facebook'></use>
                  </svg>
                </a>
              </li>
              <li class='footer-social-item'>
                <a href='https://www.instagram.com/goitclub/' class='footer-link-network' target='_blank'
                   aria-label='Instagram' rel='noopener noreferrer'>
                  <svg class='footer-svg' width='24' height='24'>
                    <use href='/images/sprite.svg#instagram'></use>
                  </svg>
                </a>
              </li>
              <li class='footer-social-item'>
                <a href='https://www.youtube.com/c/GoIT' class='footer-link-network' target='_blank'
                   aria-label='Youtube' rel='noopener noreferrer'>
                  <svg class='footer-svg' width='24' height='24'>
                    <use href='/images/sprite.svg#youtube'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <p class='footer-term-policy-rights hide-mobile'>Your Energy. All rights reserved.</p>
        </div>


        <div class='flex-column hide-desktop'>
          <h2 class='footer-title'>
            Transforming your <span class='footer-body-span'>body </span>shape
            with us
          </h2>
          <div class='footer-term-policy-rights'>
            <a href='./privacy-policy.html' class='link-hover' target='_blank'>Privacy Policy </a>
            <span> / </span>
            <a href='./terms-of-service.html' class='link-hover' target='_blank'> Terms of Service</a>
          </div>
        </div>

        <div class='flex-column hide-desktop'>
          <p class='footer-subscribe'>
            Subscribe and learn about new exercises!
          </p>
          <form class='footer-form' style='margin-bottom: 70px'>
            <label class='footer-label-form-email' for='footer-email-input1'>
              <input name='email' class='footer-email-input' id='footer-email-input1'
                     placeholder='Email' />
            </label>
            <button type='submit' class='footer-btn-email'>Send</button>
          </form>
          <p class='footer-term-policy-rights'>&copy; 2023</p>
        </div>

        <div class='flex-column hide-tablet'>
          <h2 class='footer-title'>
            Transforming your <span class='footer-body-span'>body </span>shape
            with us
          </h2>
          <p class='footer-subscribe'>
            Subscribe and learn about new exercises!
          </p>
          <form class='footer-form' style='margin-bottom: 70px'>
            <label class='footer-label-form-email' for='footer-email-input'>
              <input name='email' class='footer-email-input' id='footer-email-input' placeholder='Email' />
            </label>
            <button type='submit' class='footer-btn-email'>Send</button>
          </form>
          <div class='footer-flex-wrapper'>

            <div class='footer-term-policy-rights'>
              <p class='hide-copyright'>Your Energy. All rights reserved.</p>
              <a href='./privacy-policy.html' class='link-hover' target='_blank'>Privacy Policy </a>
              <span> / </span>
              <a href='./terms-of-service.html' class='link-hover' target='_blank'> Terms of Service</a>
            </div>
            <p class='footer-term-policy-rights'>&copy; 2023</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>