<header class="page-header">
    <div class="container">
        <div class="header-container">
            <a class="logo" href="./index.html" aria-label="Logo Your Energy">
                <svg class="social-media-icon" width="132" height="24" aria-label="logo">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>
            </a>
            <nav class="header-nav" role="navigation">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="./index.html">
                            Home
                        </a>
                    </li>
                    <li class="header-nav-item">
                        <a class="header-nav-link" href="./favorites-page.html">
                            Favorites
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header-social-media-container header-social-media-wrapper"
                aria-label="Theme Switch and Social Media">
                <div>
                    <div class="header-social-media-wrapper">
                        <label class="switch" aria-label="Toggle Dark Mode">
                            <input type="checkbox" class="theme-switch">
                            <span class="sun"></span>
                            <span class="moon">
                                <span class="star"></span>
                                <span class="star small"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <ul class="header-social-media-list" aria-label="Social Media Links">
                    <li class="header-social-media-item">
                        <a class="header-social-media-link" href="https://www.facebook.com/goITclub/" target="_blank"
                            rel="noopener noreferrer" aria-label="Facebook">
                            <svg class="header-social-media-icon" width="28" height="28" aria-label="Facebook icon">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-social-media-item">
                        <a class="header-social-media-link" href="https://www.instagram.com/goitclub/" target="_blank"
                            rel="noopener noreferrer" aria-label="Instagram">
                            <svg class="header-social-media-icon" width="28" height="28" aria-label="Instagram icon">
                                <use href="./images/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="header-social-media-item">
                        <a class="header-social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank"
                            rel="noopener noreferrer" aria-label="Youtube">
                            <svg class="header-social-media-icon" width="28" height="28" aria-label="Youtube icon">
                                <use href="./images/sprite.svg#youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header-social-media-wrapper toggle-switch">
                <div>
                    <div class="header-social-media-wrapper">
                        <label class="switch">
                            <input type="checkbox" class="theme-switch">
                            <span class="sun"></span>
                            <span class="moon">
                                <span class="star"></span>
                                <span class="star small"></span>
                            </span>
                        </label>
                    </div>
                </div>
                <button class="burger-menu-btn js-open-menu" aria-label="burger menu btn">
                    <svg class="burger-menu-icon" width="32" height="32" aria-label="burger menu btn icon">
                        <use href="./images/sprite.svg#burger-menu"></use>
                    </svg>
                </button>
            </div>
            <div class="menu-container js-menu-container" id="mobile-menu">
                <div class="modal">
                    <button class="close-btn js-close-menu" type="button" aria-label="Close Mobile Menu">
                        <svg class="close-modal-btn-icon" width="32" height="32" aria-label="Close Mobile Menu icon">
                            <use href="./images/sprite.svg#close"></use>
                        </svg>
                    </button>
                    <nav class="nav-burger-menu">
                        <ul class="nav-burger-menu-list">
                            <li class="nav-burger-menu-item">
                                <a class="nav-burger-menu-link" href="./index.html">
                                    Home
                                </a>
                            </li>
                            <li class="nav-burger-menu-item">
                                <a class="nav-burger-menu-link" href="./favorites-page.html">
                                    Favorites
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="burger-social-media-container" aria-label="Social Media Links">
                        <ul class="burger-social-media-list">
                            <li class="burger-social-media-item">
                                <a class="burger-social-media-link" href="https://www.facebook.com/goITclub/"
                                    target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                                    <svg class="burger-social-media-icon" width="24" height="24"
                                        aria-label="Facebook icon">
                                        <use href="./images/sprite.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="burger-social-media-item">
                                <a class="burger-social-media-link" href="https://www.instagram.com/goitclub/"
                                    target="_blank" rel="noopener noreferrer" aria-label="Instagram">
                                    <svg class="burger-social-media-icon" width="24" height="24"
                                        aria-label="Instagram icon">
                                        <use href="./images/sprite.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="burger-social-media-item">
                                <a class="burger-social-media-link" href="https://www.youtube.com/c/GoIT"
                                    target="_blank" rel="noopener noreferrer" aria-label="Youtube">
                                    <svg class="burger-social-media-icon" width="24" height="24"
                                        aria-label="Youtube icon">
                                        <use href="./images/sprite.svg#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>