<!-- header -->

<header class="page-header">
  <!-- header container -->
  <div class="header-container container">
    <!-- header navigation -->

    <!-- logo -->
    <a class="logo" href="./index.html">
      <svg class="icon-logo" width="132" height="24" aria-label="logo icon">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <!-- navigation -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <!-- menu -->
        <li class="header-nav-item">
          <a class="header-nav-link" href="#home">
            Home
          </a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#Favorites">
            Favorites
          </a>
        </li>
      </ul>
    </nav>
    <!-- social media -->
    <div class="social-media-container">
      <ul class="social-media-list">
        <!-- facebook -->
        <li class="social-media-item">
          <a class="social-media-link" href="https://www.facebook.com/goITclub/" target="_blank"
            rel="noopener noreferrer">
            <svg class="social-media-icon" width="28" height="28" aria-label="facebook icon">
              <use href="./img/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <!-- instagram -->
        <li class="social-media-item">
          <a class="social-media-link" href="https://www.instagram.com/goitclub/" target="_blank"
            rel="noopener noreferrer">
            <svg class="social-media-icon" width="28" height="28" aria-label="instagram icon">
              <use href="./img/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <!-- youtube -->
        <li class="social-media-item">
          <a class="social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
            <svg class="social-media-icon" width="28" height="28" aria-label="youtube icon">
              <use href="./img/sprite.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- mobile burger menu -->
    <!--mobile header  -->
    <button class="burger-menu-btn btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="burger-icon" width="32" height="32" aria-label="burger menu icon for mobile">
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>

    <!-- modal burger menu  -->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="modal">
        <button class="close-btn js-close-menu" type="button">
          <svg class="close-modal-btn-icon" width="32" height="32"
            aria-label="closing button icon for burger menu mobile">
            <use href="./img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="nav-burger-menu">
          <ul class="nav-burger-menu-list">
            <!-- menu -->
            <li class="header-nav-item">
              <a class="header-nav-link" href="#home">
                Home
              </a>
            </li>
            <li class="header-nav-item">
              <a class="header-nav-link" href="#Favorites">
                Favorites
              </a>
            </li>
          </ul>
        </nav>
        <!-- social media -->
        <div class="burger-social-media-container">
          <ul class="burger-social-media-list">
            <!-- facebook -->
            <li class="burger-social-media-item">
              <a class="burger-social-media-link" href="https://www.facebook.com/goITclub/" target="_blank"
                rel="noopener noreferrer">
                <svg class="burger-social-media-icon" width="28" height="28" aria-label="facebook icon">
                  <use href="./img/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <!-- instagram -->
            <li class="burger-social-media-item">
              <a class="burger-social-media-link" href="https://www.instagram.com/goitclub/" target="_blank"
                rel="noopener noreferrer">
                <svg class="burger-social-media-icon" width="28" height="28" aria-label="instagram icon">
                  <use href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <!-- youtube -->
            <li class="burger-social-media-item">
              <a class="burger-social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank"
                rel="noopener noreferrer">
                <svg class="burger-social-media-icon" width="28" height="28" aria-label="youtube icon">
                  <use href="./img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>