<section class="hero-section">
    <div class="container hero-section-wrapper">
        <div class="hero-title-container">
            <svg class="hero-title-icon" width="38" height="38">
                <use href="./images/sprite.svg#icon-sun"></use>
            </svg>
            <h1 class="hero-title">
                Get <span class="hero-title-span">Body</span> in <br />shape, Stay healthy
            </h1>
            <img class="hero-image-small-desktop" src="./images/hero-small-desktop.webp"
                srcset="./images/hero-small-desktop@2x.webp" alt="Two girls doing yoga in nature" />
        </div>

        <p class="hero-subtitle">
            Transform your physique and embrace a healthier lifestyle with our comprehensive fitness and nutrition
            support.
        </p>

        <div class="hero-imag-container">
            <picture class="hero-image">
                <source media="(max-width: 767px)" srcset="
            ./images/hero-mobile.webp 1x,
            ./images/hero-mobile@2x.webp 2x
            " />
                <source media="(min-width: 768px) and (max-width: 1279px)" srcset="
            ./images/hero-tablet.webp 1x,
            ./images/hero-tablet@2x.webp 2x
            " />
                <source media="(min-width: 1280px)" srcset="
            ./images/hero-desktop.webp 1x,
            ./images/hero-desktop@2x.webp 2x
            " />
                <img src="./images/hero-mobile.webp" alt="Two girls doing sports on the river bank" />
            </picture>
        </div>

        <ul class="hero-hashtags-list">
            <li class="hero-hashtag-item">Sport</li>
            <li class="hero-hashtag-item">Healthy</li>
            <li class="hero-hashtag-item">Workout</li>
            <li class="hero-hashtag-item">Diet</li>
        </ul>
    </div>
</section>