<!-- TODO: remove ul gallary -->
<ul class="gallery">
  <button class="card">Card with exercise</button>
</ul>
<div class="backdrop is-hidden" data-modal>
  <div class="modal-main">
    <button type="button" class="modal_close_btn" data-modal-close>
      <svg class="modal-icon" width="20" height="20">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
      X
    </button>
    <div class="modal-container">
      <!-- <div class="modal-img">
        <img src="${gifUrl}" alt="${name}" class="image" />
      </div>
      <div class="modal-rest">
        <h3 class="modal-title">${name}</h3>
        <div class="vote-element">
          <p class="info-item">******</p>
          <p class="count" id="vote">${rating}</p>
        </div>
        <div class="modal-info">
          <div class="modal-table">
            <div class="info-element">
              <p class="info-item">Target</p>
              <p class="count">${target}</p>
            </div>
            <div class="info-element">
              <p class="info-item">Body part</p>
              <p class="count">${bodyPart}</p>
            </div>
            <div class="info-element">
              <p class="info-item">Equipment</p>
              <p class="count">${equipment}</p>
            </div>
            <div class="info-element">
              <p class="info-item">Popular</p>
              <p class="count">${popularity}</p>
            </div>
            <div class="info-element">
              <p class="info-item">Burned Calories</p>
              <p class="count">${burnedCalories}</p>
            </div>
          </div>
          <p class="about-info">${description}</p>
        </div>
        <div class="buttons">
          <button class="add-to-favorites" type="button">
            Add to favorites
          </button>
          <button class="give-a-rating" type="button">Give a rating</button>
        </div>
      </div> -->
    </div>
  </div>
</div>
