<!-- Modal main -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-main">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-icon-close">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal-container"></div>
    <div class="buttons">
      <button class="button add-to-favorites" type="button"></button>
      <button class="button give-a-rating" type="button">Give a rating</button>
    </div>
  </div>
</div>