<!-- social media -->
<div class="social-media-container">
    <ul class="social-media-list">
        <!-- facebook -->
        <li class="social-media-item">
            <a class="social-media-link" href="https://www.facebook.com/goITclub/" target="_blank"
                rel="noopener noreferrer">
                <svg class="social-media-icon" width="28" height="28" aria-label="facebook icon">
                    <use href="./img/sprite.svg#facebook"></use>
                </svg>
            </a>
        </li>
        <!-- instagram -->
        <li class="social-media-item">
            <a class="social-media-link" href="https://www.instagram.com/goitclub/" target="_blank"
                rel="noopener noreferrer">
                <svg class="social-media-icon" width="28" height="28" aria-label="instagram icon">
                    <use href="./img/sprite.svg#instagram"></use>
                </svg>
            </a>
        </li>
        <!-- youtube -->
        <li class="social-media-item">
            <a class="social-media-link" href="https://www.youtube.com/c/GoIT" target="_blank"
                rel="noopener noreferrer">
                <svg class="social-media-icon" width="28" height="28" aria-label="youtube icon">
                    <use href="./img/sprite.svg#youtube"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>