.exercises-header {
  width: 100%;
  margin-bottom: 20px;
}

.exercises-title {
  font-size: 28px;
  line-height: 38px;
  width: 100%;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .exercises-title {
    margin-bottom: 20px;
  }
}

.filters-list {
  display: flex;
  gap: 20px;
}

.filter-selected::after {
  content: '';
  height: 4px;
  background-color: var(--basic-dark);
  border-radius: 2px;
  display: block;
  margin-top: 4px;
}

@media only screen and (min-width: 768px) {
  .exercises-header {
    margin-bottom: 32px;
  }

  .exercises-title {
    margin-bottom: 32px;
    font-size: 44px;
    line-height: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .exercises-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filters-list {
    min-width: 300px;
  }
}
