.footer {
    width: 100%;
    background-color: var(--basic-dark);
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-link-img {
    fill: var(--basic-light)
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo-link {
    display: block;
    margin-bottom: 20px;
    height: 24px;
    position: relative;
}

.footer-title {
    color: var(--basic-light);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

.footer-body-span {
    color: var(--basic-light);
    font-size: 40px;
    font-style: italic;
    font-weight: 400;
    line-height: 48px;
}

.footer-subscribe {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--basic-light);
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-email-input {
    padding-left: 14px;
    border: 1px solid var(--basic-light);
    border-radius: 30px;
    color: var(--basic-light);
    background-color: transparent;
    padding-right: 14px;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 42px;
}

.footer-label-form-email {
    width: 100%;
}

.footer-btn-email {
    margin-top: 20px;
    display: flex;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    background-color: var(--basic-light);
    border: 1px solid var(--basic-light);
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    transition: background-color var(--transition), color var(--transition),
        border var(--transition);
}

.footer-btn-email:hover,
.footer-btn-email:focus {
    background-color: transparent;
    color: var(--basic-light);
    border: 1px solid var(--basic-light);
}

.footer-term-policy-rights {
    color: #c6cdd1;
    font-size: 14px;
    line-height: 1.28;
}

.hide-desktop {
    display: none;
}

.link-hover:hover {
    text-decoration: underline;
}


@media (min-width: 320px) {
    .footer-btn-email {
        max-width: 320px;
    }

    .footer-email-input {
        max-width: 320px;
    }

    .footer-flex-wrapper {
        align-items: flex-end;
    }

    .footer-form {
        margin-bottom: 70px;
    }

    .hide-mobile {
        display: none;
    }


}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 64px;
        padding-bottom: 32px;
    }

    .hide-mobile {
        display: flex;
    }

    .hide-copyright {
        display: none;
    }

    .footer-flex-wrapper {
        align-items: center;
    }

    .footer-container {
        max-width: 100%;
    }

    .footer-logo-link {
        margin-bottom: 32px;
    }

    .footer-social-networks {
        margin-bottom: 0;
    }

    .footer-form-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer-title {
        font-size: 56px;
        line-height: 1.07;
        width: 448px;
        margin-bottom: 32px;
    }

    .footer-subscribe {
        font-size: 18px;
        line-height: 1.3;
        margin-top: 0;
    }

    .footer-btn-email {
        max-width: 350px;
    }

    .footer-email-input {
        max-width: unset;
        width: 350px;
    }

    .footer-body-span {
        font-size: 56px;
        font-style: italic;
        line-height: 1.07;
    }

    .footer-logo {
        margin-bottom: 32px;
        margin-top: 64px;
    }

    .footer-link-network {
        width: 44px;
        height: 44px;
    }

    .footer-link-network .footer-svg {
        width: 28px;
        height: 28px;
    }

    .footer-svg-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

}

@media screen and (min-width: 1440px) {
    .footer {
        padding-bottom: 36px;
    }

    .hide-tablet {
        display: none;
    }

    .hide-desktop {
        display: flex;
    }

    .footer-container {
        max-width: 100%;
        justify-content: start;
        gap: 158px;
    }

    .footer-title {
        width: 620px;
        margin-bottom: 0;
    }

    .footer-form-wrapper {
        display: flex;
        justify-content: space-between;
    }

}