.page-header {
  max-width: 100%;
  padding: 20px 20px 40px 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-nav-list {
  min-width: 265px;
  min-height: 52px;

  border-radius: 60px;
  background: var(--basic-dark);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--basic-light);
}

.active-page {
  color: var(--basic-dark);

  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 30px;
  background: var(--basic-light);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 767px) {

  .header-nav,
  .header-social-media-container {
    display: none;

  }

  .burger-menu-btn {
    position: relative;
  }
}

@media screen and (min-width: 768px) {

  .burger-menu-icon,
  .burger-menu-btn {
    display: none;
  }

  .burger-menu-btn {
    position: absolute;
  }

  .page-header {
    max-width: 100%;
    padding: 24px 32px 50px 32px;
  }
}

@media screen and (min-width: 1440px) {

  .burger-menu-icon,
  .burger-menu-btn {
    display: none;
  }

  .burger-menu-btn {
    position: absolute;
  }

  .page-header {
    max-width: 100%;
    padding: 28px 32px 76px 32px;
  }
}