.hero-section {
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
}

.hero-title-container {
    position: relative;
}

.hero-title-icon {
    float: left;
    margin-right: 12px;
}

.hero-title {
    width: 100%;
    font-family: 'DMSans';
    color: var(--basic-dark);
    font-size: 38px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: -0.76px;
    margin-bottom: 20px;
}

.hero-title-span {
    font-style: italic;
}

.hero-subtitle {
    width: 100%;
    font-family: 'DMSans';
    color: var(--basic-dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;
    margin-bottom: 20px;
}

.hero-image-small-desktop {
    display: none;
}

.hero-image,
.hero-image img {
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero-hashtags-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.hero-hashtag-item {
    font-family: 'DMSans';
    font-size: 14px;
    line-height: 1.28;
    border-radius: 30px;
    border: 1px solid var(--basic-dark);
    padding: 4px 12px;
}

.hero-hashtag-item::before {
    content: "#";
}

@media screen and (min-width: 768px) {
    .hero-section {
        padding-top: 50px;
        padding-bottom: 16px;
    }
    
    .hero-title {
        font-size: 74px;
    }

    .hero-subtitle {
        font-size: 18px;
        margin-bottom: 32px;
    }

    .hero-image,
    .hero-image img {
        margin-bottom: 16px;
    }

    .hero-hashtags-list {
        justify-content: right;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1376px;
    }

    .hero-section {
        padding-bottom: 32px;
    }

    .hero-image-small-desktop {
        position: absolute;
        display: inline-flex;
        top: 12px;
        right: 0;
        width: 168px;
        height: 100px;
    }

    .hero-title-icon {
        width: 59px;
        height: 59px;
    }

    .hero-hashtags-list {
        position: absolute;
        top: 194px;
        right: 32px;
        display: flex;
        width: 197px;
        gap: 8px;
        flex-wrap: wrap;
    }
}