.backdrop {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-main {
  position: absolute;
  width: 335px;
  border-radius: 20px;
  background: var(--main-black, #242424);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 20px;

  opacity: 1;
  transition: opacity var(--transition);
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-img {
  width: 295px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.modal-rest {
  margin: 20px 0 20px 0;
}

.image {
  display: block;
  width: 100%;
}

.modal-title {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 10px;
}

.rating-element {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.rating-count {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.modal-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  border-top: rgba(244, 244, 244, 0.2) 1px solid;
  border-bottom: rgba(244, 244, 244, 0.2) 1px solid;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-element {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.info-item {
  color: rgba(244, 244, 244, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.count {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.about-info {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 9px;
  justify-content: end;
}

.button {
  display: inline-flex;
  padding: 12px 19px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
}

.add-to-favorites {
  background: var(--basic-light, #f4f4f4);
  color: var(--main-black, #242424);
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition);
}

.give-a-rating {
  background-color: transparent;
  border: var(--basic-light, #f4f4f4) 1px solid;
  color: var(--basic-light, #f4f4f4);
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition);
}

.add-to-favorites:hover,
.add-to-favorites:focus {
  background: var(--main-black, #242424);
  color: var(--basic-light, #f4f4f4);
  border: var(--basic-light, #f4f4f4) 1px solid;
}

.give-a-rating:hover,
.give-a-rating:focus {
  background-color: var(--basic-light, #f4f4f4);
  border: var(--basic-light, #f4f4f4) 1px solid;
  color: var(--main-black, #242424);
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  width: 26px;
  height: 26px;
  transition: background-color var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--basic-light, #f4f4f4);
}

.modal-icon-close {
  stroke: var(--basic-light, #f4f4f4);
  width: 24px;
  height: 24px;
  pointer-events: none;
  transition: stroke var(--transition);
}

.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
  stroke: var(--main-black, #242424);
}

.modal-icon-favorites {
  stroke: var(--main-black, #242424);
  fill: transparent;
  width: 18px;
  height: 18px;
  transition: stroke var(--transition), fill var(--transition);
}

.add-to-favorites:hover .modal-icon-favorites,
.add-to-favorites:focus .modal-icon-favorites {
  stroke: var(--basic-light, #f4f4f4);
}

.modal-icon-star {
  fill: var(--orange, #eea10c);
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .modal-main {
    width: 704px;
    padding: 32px;
  }

  .modal-container {
    display: flex;
    flex-direction: row;
  }

  .modal-img {
    width: 270px;
    height: 259px;
  }

  .modal-rest {
    margin: 0 0 20px 35px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .modal-table {
    gap: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .button {
    padding: 12px 24px;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
  }

  .modal-close-btn {
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
  }

  .modal-icon-close {
    width: 28px;
    height: 28px;
  }

  .modal-icon-favorites {
    width: 20px;
    height: 20px;
  }
}

.modal-icon-trash {
  fill: var(--main-black, #242424);
  stroke: white;
}
