
.close-rating-btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
}

.close-rating-btn-icon {
  stroke: var(--basic-light);
}

.rating-feedback-form {
  padding: 40px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  z-index: 1000;
  max-height: 430px;
  max-width: 430px;
  background: var(--main-black);
  transition: transform 150ms ease-in, opacity 250ms ease-in;
  overflow: hidden;
}

.rating-form-active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .rating-feedback-form {
    width: 430px;
    height: 412px;
    padding: 40px;
  }
}


.rating-modal-title {
  color: rgba(244, 244, 244, 0.4);
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.rating-stars {
  display: flex;
  align-items: center;
  padding: 0 2px;
  margin-bottom: 20px;
  width: fit-content;
}

@media screen and (min-width: 768px) {
  .rating-stars {
    margin-bottom: 32px;
  }
}

.rating-number {
  color: #f4f4f4;
  display: block;
  margin-right: 5px;
  width: 17px;
  height: 18px;
  font-size: 12px;
  line-height: 1.5;
}

.rating-user-email,
.rating-user-comment {
  color: rgba(244, 244, 244, 0.6);
  background-color: transparent;
  border: 1px solid #f4f4f4;
  border-radius: 30px;
  padding: 12px 14px;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.29;
  outline: none;
}

.rating-user-comment {
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .rating-user-email,
  .rating-user-comment {
    font-size: 16px;
    line-height: 1.5;
  }
}

.rating-user-email {
  margin-bottom: 10px;
  height: 42px;
}

.rating-user-comment {
  resize: none;
  height: 93px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .rating-user-email {
    margin-bottom: 16px;
    height: 48px;
  }

  .rating-user-comment {
    margin-bottom: 32px;
    height: 106px;
  }
}

.star-radio {
  display: none;
}

.star-label {
  cursor: pointer;
  height: 24px;
}


.star-icon-rating {
  fill: rgba(244, 244, 244, 0.2);
  transition: fill 150ms ease-in-out;
}

.star-checked {
  fill: var(--orange);
  fill-opacity: 1;
}

.star-active {
  fill: #ffe600;
}

.rating-feedback-form.invalid-input-form .rating-error {
  display: inline-block;
}

.rating-error {
  display: none;
  color: red;
  margin-left: 5px;
}

.rating-submit-btn {
  border-radius: 30px;
  background-color: var(--basic-light);
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: var(--main-black);

  font-family: inherit;
  font-size: 14px;
  line-height: 1.285;
  transition: color, border, background-color 200ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .rating-submit-btn {
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.rating-submit-btn:hover {
  color: var(--basic-light);
  border: 1px solid;
  background-color: transparent;
}