/* TODO: check all requirements due to design */

.is-hidden {
  visibility: hidden;
}

.backdrop {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-main {
  position: absolute;
  width: 335px;
  height: 773px;
  border-radius: 20px;
  background: var(--main-black, #242424);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40, 20;
  @media screen and (min-width: 320px) {
    width: 280px;
    height: 940px;
    padding: 48px 20px 40px 20px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 486px;
    padding: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 708px;
    height: 449px;
    padding: 32px;
  }
}

.modal-container {
  display: flex;
  @media screen and (min-width: 320px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.modal-img {
  position: relative;
  width: 295px;
  height: 258px;
  border-radius: 12px;
  overflow: hidden;

  @media screen and (min-width: 320px) {
    width: 295px;
    height: 258px;
  }
  @media screen and (min-width: 768px) {
    width: 270px;
    height: 259px;
  }
}

.modal-rest {
  overflow: hidden;
  margin: 0;
  @media screen and (min-width: 768px) {
    margin: 35px 0 0 50px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.modal-title {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  margin-top: 20px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.33;
    margin-top: 0;
    margin-bottom: 8px;
  }
}
.rating-element {
  display: flex;
  flex-direction: row;
  gap: 2;
}

.rating-count {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.modal-info {
  margin-bottom: 20px;
}
.modal-description {
  margin-right: 83px;
  @media screen and (min-width: 320px) {
    margin-right: 39px;
  }
}
.modal-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  border-top: rgba(244, 244, 244, 0.2) 1px solid;
  border-bottom: rgba(244, 244, 244, 0.2) 1px solid;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    gap: 16px;
    margin-bottom: 16px;
  }
}
.info-element {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.info-item {
  color: rgba(244, 244, 244, 0.4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.count {
  color: var(--basic-light, #f4f4f4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.about-info {
  color: rgba(244, 244, 244, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 9px;
}

.button {
  display: inline-flex;
  padding: 12px 19px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
  }
}

.add-to-favorites {
  background: var(--basic-light, #f4f4f4);
  color: var(--main-black, #242424);
  transition: background-color var(--transition), color var(--transition);
}

.give-a-rating {
  background-color: transparent;
  border: var(--basic-light, #f4f4f4) 1px solid;
  color: var(--basic-light, #f4f4f4);
  transition: background-color var(--transition), border-color var(--transition),
    color var(--transition);
}

.add-to-favorites:hover,
.add-to-favorites:focus {
  background: var(--main-black, #242424);
  color: var(--basic-light, #f4f4f4);
}

.give-a-rating:hover,
.give-a-rating:focus {
  background-color: var(--basic-light, #f4f4f4);
  border: var(--basic-light, #f4f4f4) 1px solid;
  color: var(--main-black, #242424);
}

.modal-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border-color: transparent;
  cursor: pointer;
  width: 26px;
  height: 26px;
  @media screen and (min-width: 768px) {
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
  }
  transition: background-color var(--transition), border-color var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--basic-light, #f4f4f4);
  border-color: var(--basic-light, #f4f4f4);
}

.modal-icon-close {
  stroke: var(--basic-light, #f4f4f4);
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
  transition: stroke var(--transition);
}

.modal-close-btn:hover .modal-icon-close,
.modal-close-btn:focus .modal-icon-close {
  stroke: var(--main-black, #242424);
}

.modal-icon-heart {
  stroke: var(--main-black, #242424);
  fill: transparent;
  width: 18px;
  height: 18px;
  @media screen and (min-width: 768px) {
    width: 20px;
    height: 20px;
  }
  transition: stroke var(--transition), fill var(--transition);
}

.add-to-favorites:hover .modal-icon-heart,
.add-to-favorites:focus .modal-icon-heart {
  stroke: var(--basic-light, #f4f4f4);
  fill: var(--basic-light, #f4f4f4);
}

.modal-icon-star {
  fill: var(--orange, #eea10c);
  width: 18px;
  height: 18px;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
}
