:root {
  --backgroudColor: #242424;
  --whiteText: #f4f4f4;
  --greyText: rgb(244, 244, 244, 0.6);
}

.quote-container {
  color: var(--whiteText);
}

@media screen and (min-width: 1440px) {
  .quote-container {
    margin-right: 32px;
    max-width: 444px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-wrap {
    display: flex;
    gap: 16px;
    height: 250px;
    margin-bottom: 32px;
  }
}

.quote-wrapper {
  display: flex;
  padding: 40px;
  background: var(--backgroudColor);
  border-radius: 20px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-wrapper {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .quote-wrapper {
    min-height: 245px;
  }
}

.quote-svg-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 32px;
  padding: 5px;
  margin-right: 15px;
  border-radius: 50%;
  background: rgb(244, 244, 244, 0.2);
}

.quote-svg {
  fill: var(--whiteText);
  width: 20px;
  height: 20px;
}

.quote-title-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote-title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 6px;
  color: var(--whiteText);
}

.quote-title-svg {
  margin-left: auto;
}

.quote-text {
  font-size: 14px;
  margin-bottom: 18px;
  color: var(--greyText);
}

@media screen and (min-width: 1440px) {
  .quote-text {
    margin-bottom: 10px;
  }
}

.quote-author {
  color: var(--whiteText);
}

.quote-img {
  display: block;
  width: 727px;
  height: 242px;
  border-radius: 20px;
  margin-bottom: 32px;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-img {
    margin-bottom: 0;
    height: 245px;
  }
}

.quote-wrapper.article {
  background-color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .quote-wrapper.article {
    height: 250px;
  }
}

.quote-svg-wrap.article {
  background-color: var(--backgroudColor);
}

.quote-title.article {
  color: var(--backgroudColor);
}

.quote-author.article {
  margin: 0;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--backgroudColor);
}

@media screen and (min-width: 1440px) {
  .quote-author.article {
    -webkit-line-clamp: initial;
  }
}

.quote-text.article {
  color: grey;
}
