/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./fonts.css');
@import 'modern-normalize/modern-normalize.css';
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./loader.css');
@import url('./footer.css');
@import url('./modal-main.css');
@import url('./categories.css');
@import url('./quote.css');
@import url('./filters.css');
@import url('./favorites.css');

@import url('./exercises.css');
@import url('./scroll-up.css');
@import url('./social-media.css');
@import url('./burger-menu.css');
@import url('./pagination.css');
@import url('./privacy-policy.css');
@import url('./terms-of-service.css');

:root {
  --font-family: 'DMSans', sans-serif;
  --font-size: 16px;
  --line-height: 24px;

  --background-color: rgba(255, 255, 255, 0.87);
  --basic-dark: rgb(36, 36, 36);
  --basic-light: rgb(245, 245, 245);
  --category-bg: rgba(17, 17, 17, 0.502);
  --basic-gray: rgba(245, 245, 245, 0.4);
  --shadow-dark: rgba(0, 0, 0, 0.251);
  --orange: rgb(237, 162, 12);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  --webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--basic-light);
}

button {
  background-color: inherit;
  border: none;
}
