.container-ts {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 40px;
}

.terms-of-service-main-title {
    margin-bottom: 40px;

    font-size: 48px;
    font-weight: 500;
    line-height: 70px;
}